# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore database files
app.db
app.db.bk
instance/app.db

# Ignore migration cache files
migrations/versions/*.pyc
migrations/versions/__pycache__/

# Ignore backup files
*.bk

# Ignore system-specific files
.DS_Store
Thumbs.db

# ignore new files
app/static/css/journal_form.css
templates/journal/journal_form.html

